  <div class="text-center">
    <h1>習慣が人生を形成する。</h1><br>
      <h4><p>
        「KEIZOKU」はあなたの習慣作りをサポートするシンプルなツールです。<br><br>
        必要項目を入力して登録することで、習慣化したいタスクを管理することができます。<br><br>
        タスクを実行するたびに「達成」ボタンをクリックすることで、<br>
        設定した期間内における「定着率」を確認することができます。<br><br>
      </p></h4>
  </div>